
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body {
    background-color: rgba(217, 225, 210, 0.608);
    font-family: 'freeman';
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'freeman';
}

.board {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px ;
        width: 100%;
        margin-bottom: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}
.sqr {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

[id='0'], [id='1'], [id='2'],
[id='6'], [id='7'], [id='8'],
[id='9'], [id='10'],[id='11'], 
[id='18'],[id='19'],[id='20'],
[id='15'],[id='16'],[id='17'], 
[id='24'],[id='25'],[id='26'],
[id='30'],[id='31'],[id='32'], 
[id='39'],[id='40'],[id='41'],
[id='48'],[id='49'],[id='50'], 
[id='54'],[id='55'],[id='56'],
[id='63'],[id='64'],[id='65'], 
[id='72'],[id='73'],[id='74'],
[id='60'],[id='61'],[id='62'], 
[id='69'],[id='70'],[id='71'], 
[id='78'],[id='79'],[id='80'] {
    background-color: rgb(230, 219, 221);
}

.numberChoice {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 260px;
    height: 40px;
    margin-bottom: 20px;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center; 
    margin: 2px;
    background-color: rgb(21, 56, 41);
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.num:hover{
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0.2rem 0.3rem 0 -.05rem #33183f;
}

#erase {
    border-radius: 40px;
    padding: 5px;
    margin: 0 10px;
    background-color: pink;
    font-family: 'freeman';
}

#erase:hover{
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0.2rem 0.3rem 0 -.05rem #474b48;
    cursor: pointer;
}

.level {
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    background-color: rgb(21, 56, 41);
    font-family: 'freeman';
    color: white;
    cursor: pointer;
}

.level:hover{
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0.2rem 0.3rem 0 -.05rem #474b48;
}

#reset {
    border-radius: 40px;
    padding: 5px;
    margin: 0 10px;
    background-color: #fffabe;
    font-family: 'freeman';
    cursor: pointer;
}

#reset:hover{
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0.2rem 0.3rem 0 -.05rem #474b48;
}

#hint {
    border-radius: 40px;
    padding: 5px;
    margin: 0 10px;
    background-color: #d4f8fe;
    font-family: 'freeman';
    cursor: pointer;
}

#hint:hover {
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0.2rem 0.3rem 0 -.05rem #474b48;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; 
    height: 250px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
}

.instructions {
    padding: 5px;
    border-radius: 40px;
    background-color: #ffffff;
    font-family: 'freeman';
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
}

.instructionPart {
    display: flex;
    justify-content: center;
    font-family: 'Arial';
    width: 500px;
    height: 800px;
    margin: 20px;
    text-align: center;
}

.instructions:hover {
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0.2rem 0.3rem 0 -.05rem #474b48;
}

